<app-menu></app-menu>

<app-add-card-popup *ngIf="showPopup" (onClose)="onClosePopUp()" ></app-add-card-popup>

<div class="container ">
  <div class="row ">
    <div class="col text-center">
      <table class="table table-striped" style="width: 90%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">IBAN</th>
            <th scope="col">Saldo</th>
            <th scope="col">Stato</th>
            <th scope="col">Gestione</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ account.accountNumber }}
            </td>
            <td>{{ account.balance | number }}</td>
            <td
              [ngStyle]="{'color': (account.status===0) ? 'green' : 'red'}">
                {{(account.status===0) ? "attivo" : "inattivo"}}
            </td>
            <td>
              <button 
                class="btn btn-danger" 
                [disabled]="!(account.status===0)" 
                style="margin-left: 10px"
                (click)="sendCloseRequest(i)"
              >
                Invia richiesta chiusura
              </button>
              <br>
              <span class="span-error" *ngIf="closureError && i===errorIndex">Il saldo deve essere pari a 0</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <button class="btn personalized-btn" (click)="onAddCard()"> Crea nuovo conto </button>
    </div>
  </div>
  
</div>

