<app-menu></app-menu>
<table class="table table-striped" style="width: 90%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IBAN</th>
      <th scope="col">Saldo</th>
      <th scope="col">Settings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ account.iban }}
      </td>
      <td>{{ account.saldo | number }}</td>

      <td>
        <button class="btn btn-warning">add bar</button>
        <button class="btn btn-danger" style="margin-left: 10px">delete</button>
      </td>
    </tr>
  </tbody>
</table>
