table {
  text-align: center;
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.5);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.5) 0%,
    rgba(var(--menu-font-hover-rgb), 0.5) 80%,
    rgba(var(--menu-font-hover-rgb), 0.5) 100%
  );
}

.rotate-screen {
  background-color: rgba(0, 0, 0, 0.815);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.reduce {
  border-radius: 10px;
  height: fit-content;
  max-width: 100%;
  margin: 0;
  overflow: visible;
  background-color: transparent;
}

.vertical-align {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orizontal-align {
  width: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  font-variant: small-caps;
  text-align: center;
  color: rgb(221, 216, 216);
}

.reject {
  position: fixed;

  width: 340px;

  background-color: #e2a6a9; /*rgb(255, 94, 94);*/
  z-index: 7;

  align-self: center;
}

.personalized-btn {
  margin: 0 5px 0 5px;
  font-size: 16px;

  color: var(--menu-bg-color);
  font-weight: bold;

  background: #fff;
}

.personalized-btn:hover,
.personalized-btn:active {
  background: rgba(var(--home-bg-rgb), 0.3);
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

span.span-error {
  color: red;
}

h1 {
  font-variant: small-caps;
}

.small-caps {
  font-variant: small-caps;
}

.d-flex {
  width: 100%;
}

li {
  text-align: center;
  color: black;
  background-color: var(--error-color);
  font-weight: bold;
}

.cont-right {
  margin-top: 5px;
}

.cont-left {
  border-right: 3px dashed #333;
}

.right {
  text-align: right;
  width: 70%;
}

.red-btn {
  color: #eb444c;

  border: 1px solid #eb444c;
}

/* onde */
.ocean {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: none;

  z-index: -20;
}

.wave {
  background: url("src/assets/img/Wave-16.7s-1587px.svg") no-repeat;
  position: absolute;
  top: 0;
  bottom: -198px;
  width: 100%;
  height: 300px;
  animation: swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

  background-size: cover;

  opacity: 0.5;
}

.wave:nth-of-type(2) {
  background: url("src/assets/img/Wave-16.7s-1587px1.svg");
  bottom: -175px;
  animation: swell 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 1;
  background-size: cover;
}

.wave:nth-of-type(3) {
  background: url("src/assets/img/Wave-16.7s-1587px2.svg");
  bottom: -175px;
  animation: swell 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 0.3;
  background-size: cover;
}

@keyframes swell {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-30px) scaleY(0.8);
  }
}

/* popup */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  background-color: rgba(var(--menu-bg-rgb), 0.5);

  z-index: 5;
}

.container-center-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-center-col {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup {
  position: fixed;

  width: 340px;

  background-color: var(--popup-color);
  z-index: 7;

  align-self: center;
}
