<!-- NAVBAR -->
<nav class="navbar ml-auto">
  <a class="navbar-brand" (click)="homeMode()">JavaIsland</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <button class="btn btn-success" type="button" (click)="loginMode()">
        Login
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-success" type="button" (click)="signUpMode()">
        SignUp
      </button>
    </li>
  </ul>
</nav>
<!-- BACKDROP PANEL -->
<hr *ngIf="!login && !signUp" />
<div class="backdrop" *ngIf="login || signUp" (click)="homeMode()"></div>

<!-- WELCOME PANEL  -->
<div class="container">
  <div class="panel panel-default col-md-2">
    <div class="panel-title text-center"><h3>JavaIsland</h3></div>
    <div class="panel-body text-center">
      <h6>Built around you</h6>
    </div>
  </div>
</div>

<!-- LOGIN PANEL -->
<div class="container" *ngIf="login">
  <div class="panel panel-default col-md-2">
    <div class="panel-title text-center"><h3>JavaIsland</h3></div>
    <hr />
    <!-- Pannello errore login -->
    <div class="alert alert-danger" *ngIf="loginErrorMessage">
      <p style="text-align: center;">{{loginErrorMessage}}</p>
    </div>
    <!-- Fine Pannello errore -->
    <div class="panel-body text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <div class="col-xs-12 justify-content-center">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <!-- Messaggio errore in caso email non valida -->
            <span 
              *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched"
              class="help-block">Please enter a valid email
            </span>
            <!-- Fine messaggio errore -->
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              password
            />
            <!-- Messaggio errore in caso password non valida -->
            <span 
              *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
              class="help-block">Please enter password
            </span>
            <!-- Fine messaggio errore -->
          </div>
          <button
            type="submit"
            class="btn btn-outline-danger"
            [disabled]="!loginForm.valid"
            (click)="onSubmitLogin()"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- SIGNUP PANEL -->

<div class="container" *ngIf="signUp">

    <div class="panel panel-default col-md-2">
        <div class="panel-title text-center"><h3>JavaIsland</h3></div>
        <hr>
        <div class="panel-body text-center">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
                <div class="col-xs-12 justify-content-center">
                    <div class="form-group ">
                      <label for="name">Name</label>
                      <input
                          type="text"
                          id="name"
                          formControlName="name"
                          class="form-control"
                      />
                      <!-- Messaggio errore in caso nome non valido -->
                      <span 
                        *ngIf="!signUpForm.get('name')?.valid && signUpForm.get('name')?.touched"
                        class="help-block">Please enter your name
                      </span>
                      <!-- Fine messaggio errore -->
                    </div>
                    <div class="form-group ">
                      <label for="surname">Surname</label>
                      <input
                          type="text"
                          id="surname"
                          formControlName="surname"
                          class="form-control"
                      />
                      <!-- Messaggio errore in caso cognome non valid0 -->
                      <span 
                        *ngIf="!signUpForm.get('surname')?.valid && signUpForm.get('surname')?.touched"
                        class="help-block">Please enter your surname
                      </span>
                      <!-- Fine messaggio errore -->
                    </div>
                    <div class="form-group ">
                      <label for="birthDate">Date of birth</label>
                      <input
                          type="text"
                          id="birthDate"
                          formControlName="birthDate"
                          class="form-control"
                      />
                      <!-- Messaggio errore in caso data di nascita non valida -->
                      <span 
                        *ngIf="!signUpForm.get('birthDate')?.valid && signUpForm.get('birthDate')?.touched"
                        class="help-block">Please enter your birth date
                      </span>
                      <!-- Fine messaggio errore -->
                    </div>
                    <div class="form-group ">
                      <label for="email">Email</label>
                      <input
                          type="text"
                          id="email"
                          formControlName="email"
                          class="form-control"
                      />
                      <!-- Messaggio errore in caso email non valida -->
                      <span 
                        *ngIf="!signUpForm.get('email')?.valid && signUpForm.get('email')?.touched"
                        class="help-block">Please enter a valid email
                      </span>
                      <!-- Fine messaggio errore -->
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input
                          type="password"
                          id="password"
                          formControlName="password"
                          class="form-control"
                          password
                      />
                      <!-- Messaggio errore in caso password non valida -->
                      <span 
                        *ngIf="!signUpForm.get('password')?.valid && signUpForm.get('password')?.touched"
                        class="help-block">Please enter password
                      </span>
                      <!-- Fine messaggio errore -->
                    </div>
                    <button
                        type="submit"
                        class="btn btn-outline-danger"
                        [disabled]="!signUpForm.valid"
                        (click)="onSubmitSignUp()">
                        SignUp
                    </button>
                </div>
            </form>

        </div>
      
    </div>
  </div>

<!-- ANIMAZIONE -->
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgMiddle">
    <div
      class="wave waveMiddle"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
      "
    ></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div
      class="wave waveBottom"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
      "
    ></div>
  </div>
</div>
