a {
  text-decoration: none;
  color: var(--menu-bg-color);
}

a:hover {
  color: var(--menu-font-color-hover);
}

.container-actions {
  width: fit-content;
  margin: 0;
}

.title {
  color: rgb(201, 201, 201);
  width: 190px;
  text-indent: 50%;
}
