<app-menu></app-menu>
<div class="half">
  <div class="container-actions">
    <h3 class="title">Azioni</h3>
    <div class="panel">
      <a href="#"
        ><h4><i class="fa-solid fa-dollar-sign"></i> Bonifico</h4></a
      >
      <a href="#"
        ><h4><i class="fa-solid fa-arrows-rotate"></i> Giroconto</h4></a
      >
      <a href="#"
        ><h4>
          <i class="fa-solid fa-mobile-retro"></i> Ricarica telefonica
        </h4></a
      >
      <a href="#"
        ><h4><i class="fa-solid fa-arrow-down"></i> Versamento</h4></a
      >
      <a href="#"
        ><h4><i class="fa-solid fa-arrow-up"></i> Prelievo</h4></a
      >
    </div>
  </div>
</div>
