a {
  text-decoration: none;
  color: var(--menu-bg-color);
}

a:hover {
  color: var(--menu-font-color-hover);
}

.container-actions {
  min-width: fit-content;
  margin: 0;
}

.title {
  color: var(--grey-titles);
  width: 190px;
  text-indent: 55%;
}

.panel {
  padding: 20px;
}
