table {
  text-align: center;
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.5);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.5) 0%,
    rgba(var(--menu-font-hover-rgb), 0.5) 80%,
    rgba(var(--menu-font-hover-rgb), 0.5) 100%
  );
}

button{
  margin:5px;
}
