table {
  text-align: center;
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.5);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.5) 0%,
    rgba(var(--menu-font-hover-rgb), 0.5) 80%,
    rgba(var(--menu-font-hover-rgb), 0.5) 100%
  );
}

button{
  margin:5px;
  border-radius: 5px;
}


h1{
  font-variant: small-caps;
  width: 100%;
  text-align: center;
}

.decline{
color: red;
background-color: transparent;
border:solid 1px;
border-color:red;
}

.accept{
color: green;
background-color: white;
border:solid 1px;
border-color:green;
}
