a,
li,
button {
  color: var(--menu-font-color);
}

a:hover,
button:hover {
  color: var(--menu-font-color-hover);
}

/* da modificare la width del pannello del menu in modo che non sia brutto negli schermi grandi */
.menu-container {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--menu-bg-color);

  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.nav-menu-employee {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.nav-links {
  list-style-type: none;
  padding: 10px 10px 0 10px;
}

.nav-links li {
  margin-top: 20px;
}

.nav-links li a {
  text-decoration: none;
}

.logout-btn {
  align-self: center;
  margin: 20px;
}

button {
  background: transparent;
  border: none;
}

.open-menu {
  cursor: pointer;
  color: var(--menu-bg-color);
  font-size: 30px;
  margin: 0 0 10px 20px;

  width: fit-content;
}

.open-menu-dash {
  cursor: pointer;
  color: white;
  font-size: 30px;
  margin: 0 0 10px 20px;

  width: fit-content;
}

.desktop-menu {
  max-width: 70%;
  min-width: 360px;
  display: flex;
  justify-content: center;
}

.desktop-menu ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dark-text ul li {
  border: 2px solid rgb(146, 176, 193);
}

.dark-text li a {
  width: fit-content;
  padding: 5px;

  color: rgb(21, 123, 206);

  text-decoration: none;
  background-image: linear-gradient(
    -90deg,
    var(--menu-bg-color),
    rgba(var(--menu-font-hover-rgb), 0.7)
  );
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 3px;
  transition: background-size 500ms ease-in-out;

  /* extra styling   */
  font-weight: bold;
}

.dark-text li a:hover {
  background-size: 100% 3px;
  color: rgba(var(--menu-font-hover-rgb), 0.7);
}

/*
.flex-div {
  display: flex;
  justify-content: space-around;
} */
