a,
li,
button {
  color: var(--menu-font-color);
}

a:hover,
button:hover {
  color: var(--menu-font-color-hover);
}

/* da modificare la width del pannello del menu in modo che non sia brutto negli schermi grandi */
.menu-container {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--menu-bg-color);

  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.nav-menu-employee {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.nav-links {
  list-style-type: none;
  padding: 10px 10px 0 10px;
}

.nav-links li {
  margin-top: 20px;
}

.nav-links li a {
  text-decoration: none;
}

.logout-btn {
  align-self: center;
  margin: 20px;
}

button {
  background: transparent;
  border: none;
}

.open-menu {
  cursor: pointer;
  color: var(--home-bg-color);
  font-size: 30px;
  margin: 0 0 10px 20px;

  width: fit-content;
}
