<div class="background one" #one></div>
<div class="background two" #two></div>
<div class="background three" #three></div>
<div class="background four" #four></div>

<div class="centered-vertical">
  <div class="centered-horizontal">
    <div>
      <h1>
        <span>P</span>
        <span>a</span>
        <span>g</span>
        <span>e</span>
        &nbsp;
        <span>n</span>
        <span>o</span>
        <span>t</span>
      </h1>
      <h1>
        <span>f</span>
        <span>o</span>
        <span>u</span>
        <span>n</span>
        <span>d</span>
      </h1>
      <p>
        Non abbiamo trovato la pagina che cercavi. Clicca i link in basso per
        essere reindirizzato.
      </p>

      <ul>
        <div>
          <li (click)="onLogout()"><a style="cursor: pointer">HomePage</a></li>
          <li *ngIf="userIn && userRole === 'C'">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="userIn && userRole === 'D'">
            <a routerLink="/dipendente">Gestione Dipendente</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
