<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col col-md-auto title-div">
      <i class="fa-solid fa-circle-user fa-3x"></i>
    </div>
    <div class="col col-md-auto">
      <br />
      <h1>{{ action }}</h1>
    </div>
    <!-- <div class="col col-md-auto">
      <h1>I tuoi dati</h1>
    </div> -->
  </div>
  <hr />
  <p
    style="color: red"
    *ngIf="accountTransfer.length === 0 && action === 'giroconto'; else elseDiv"
  >
    Non è possibile effettuare un giroconto: l'utente ha una sola carta attiva.
  </p>
  <ng-template #elseDiv>
    <mat-stepper [orientation]="orientation" [linear]="isLinear" #stepper>
      <form [formGroup]="form1">
        <mat-step [stepControl]="form1" label="Inserisci Dati">
          <div class="center-input">
            <mat-form-field
              appearance="fill"
              *ngIf="action === 'bonifico' || action === 'ricarica'"
            >
              <mat-label>{{
                action === "bonifico"
                  ? "Iban Destinatario"
                  : "Numero Telefonico"
              }}</mat-label>
              <input
                matInput
                [placeholder]="
                  action === 'bonifico' ? 'ex. IT000000000' : 'ex. 3456270000'
                "
                formControlName="to"
                required
              />
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="action === 'giroconto'">
              <mat-label>Iban Destinatario</mat-label>

              <mat-select
                matInput
                placeholder="ex. IT000000000"
                formControlName="to"
                required
              >
                <mat-option
                  *ngFor="let card of accountTransfer"
                  [value]="card.accountNumber"
                  >{{ card.accountNumber }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Ammontare (€)</mat-label>
              <input
                matInput
                placeholder="ex. 100"
                formControlName="amount"
                required
              />
              
            </mat-form-field>
            

            <mat-form-field appearance="fill">
              <mat-label>Causale</mat-label>
              <input
                matInput
                placeholder="ex. Lezioni di Golf"
                formControlName="description"
              />
            </mat-form-field>
          </div>
          <div class="center-button">
            <button
              mat-button
              matStepperPrevious
              type="button"
              routerLink="/dashboard"
            >
              Annulla
            </button>
            <button mat-button matStepperNext type="button">Prosegui</button>
          </div>
        </mat-step>

        <mat-step label="Conferma Operazione">
          <div class="center-input">
            <div>
              <h6>Queste sono le informazioni da te immesse:</h6>
              <ul>
                <li>{{ form1.value.to }}</li>
                <li>{{ form1.value.amount }}</li>
                <li *ngIf="form1.value.amount">
                  {{ form1.value.description }}
                </li>
              </ul>
              <h6>
                Se sei sicuro di voler proseguire con l'operazione clicca
                <b>Prosegui</b>
              </h6>

              <div class="center-button">
                <button mat-button matStepperPrevious type="button">
                  Indietro
                </button>
                <button mat-button matStepperNext (click)="onSubmit()">
                  Prosegui
                </button>
              </div>
            </div>
          </div>
        </mat-step>
      </form>

      <mat-step label="Fine">
        <div class="center-input">
          <div>
            <p>La tua operazione è andata a buon fine.</p>
            <div class="center-button">
              <button mat-button matStepperPrevious type="button">
                Indietro
              </button>
              <button
                mat-button
                (click)="stepper.reset()"
                routerLink="/dashboard"
                type="button"
              >
                Finito
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </ng-template>
</div>
