div.container {
  margin-top: 20vh;
}

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

i {
  font-size: 100px;
  color: #3688ec;
}
h5.field {
  font-weight: bold;
}
i.fa-circle {
  size: 200px;
  font-size: 200px;
}

h5 {
  color: var(--grey-titles);
}

h1,
h5 {
  font-variant: small-caps;
}
h1 {
  margin-left: 10px;
  margin-right: 20px;
  text-transform: capitalize;
}

.title-div {
  display: flex;
  justify-content: space-between;

  background: -webkit-linear-gradient(
    45deg,
    var(--menu-font-color-hover) 0%,
    var(--menu-bg-color) 70%,
    var(--menu-bg-color) 100%
  );
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: none;
}

.center-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .center-input {
    display: flex;
    flex-direction: column;
  }
}

mat-form-field {
  margin-left: 5px;
  margin-right: 5px;
}

mat-stepper {
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.3);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.3) 0%,
    rgba(var(--menu-font-hover-rgb), 0.3) 80%,
    rgba(var(--menu-font-hover-rgb), 0.3) 100%
  );
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
}
