<div class="backdrop"></div>
<div class="container-center-row">
    <div class="container-center-col">
        <div class="panel popup">
            <div class="row">
                <div class="col">
                    <h4 class="warning-text">Attenzione!</h4>
                    <hr>
                </div>
            </div>
            
            
            
            <p class="warning-text">La chiusura dell'ultimo conto a voi associato risulterà nell'eleminazione definitiva dell'account.</p>
            <p class="warning-text">Si è sicuri di voler procedere?</p>
            <hr>

            <div class="row d-flex justify-content-center">
                <button
                class="btn btn-success"
                type="button"
                (click)="onConfirm()"
                >
                    Conferma
                </button>
                
                <button
                class="btn btn-warning"
                type="button"
                (click)="onCancel()"
                >
                    Annulla
                </button>
            </div>

            

        </div>
    </div>
</div>

