<div class="backdrop"></div>
<div class="container-center-row">
    <div class="container-center-col">
        <div class="panel popup">
            
            <mat-stepper orientation="vertical" linear="true" #stepper>

                <ng-template matStepperIcon="edit">
                    <i class="fa-solid fa-check"></i>
                </ng-template>

                <mat-step label="Attenzione" >
                    <p class="warning-text">
                        Cliccando su <mark>conferma</mark> verrà inviata la richiesta di chiusura del conto.
                    </p>
                    <hr>
                    <div>
                        <button mat-button matStepperNext class="stepper-but-alert" (click)="sendCloseRequest()">Conferma</button>
                        <button mat-button (click)="onCancel()" class="stepper-but">Annulla</button>
                    </div>
                </mat-step>

                <mat-step label="Esito">
                    <p class="warning-text">
                       La richiesta è stata inviata con successo.
                    </p>
                    <div>
                        <button mat-button (click)="onOK()" class="stepper-but">OK</button>
                    </div>
                </mat-step>

            </mat-stepper>
            

        </div>
    </div>
</div>

