<div class="half">
  <div class="container-actions">
    <h3 class="title">
      <span>Transazioni</span>
      <span>
        <button (click)="onShrinkArray(10)" class="personalized-btn">
          Ultime 10
        </button>
        <button (click)="onShrinkArray(-1)" class="personalized-btn">
          Tutte
        </button>
      </span>
    </h3>
    <button class="round-btn">
      <i class="fa-solid fa-cloud-arrow-down"></i>
    </button>
    <div class="panel">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Importo</th>
            <th>Da</th>
            <th>A</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactionsDisplayed">
            <td>
              <i>{{ transaction.date }}</i>
            </td>
            <td>
              <b>€ {{ transaction.amount }}</b>
            </td>
            <td>{{ transaction.accountNumberFrom }}</td>
            <td>{{ transaction.accountNumberTo }}</td>
            <td>{{ transaction.type ? transaction.type : "" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
