table {
  background-color: var(--menu-font-color);
}

.panel {
  overflow-y: scroll;
  height: 300px;
}

.container-actions {
  width: fit-content;
  margin: 0;
}

.title {
  color: rgb(201, 201, 201);
  width: 430px;
  text-indent: 40%;
}
