table {
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.5);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.5) 0%,
    rgba(var(--menu-font-hover-rgb), 0.5) 80%,
    rgba(var(--menu-font-hover-rgb), 0.5) 100%
  );
}

.panel {
  overflow-y: scroll;
  height: 35vh;
}

.title {
  color: var(--grey-titles);
  width: 360px;
  text-indent: 40%;
}

@media screen and (min-width: 435px) {
  .container-actions {
    width: fit-content;
    margin: 0;
  }

  .title {
    color: var(--grey-titles);
    width: 445px;
    text-indent: 40%;
  }
}

/* @media screen and (max-width: 435px) {
  .container-actions {
    width: 100vw;
    margin: 0;
  }
} */
