<div class="half">
  <div class="container-actions">
    <h3 class="title">
      <span>Transazioni</span>
      <span>
        <button class="btn-blu" mat-button routerLink="/transazioni">
          Vedi tutte
        </button>
      </span>
    </h3>
    <a [href]="fileUrl" download="Lista operazioni">
      <button
        class="round-btn"
        title="scarica le transazioni di tutte le tue carte"
      >
        <i class="fa-solid fa-cloud-arrow-down"></i>
      </button>
    </a>

    <div class="panel-container">
      <p *ngIf="transactionsDisplayed.length === 0">
        Nessuna transazione effettuata.
      </p>
      <div class="panel">
        <table
          matSort
          (matSortChange)="sortData($event)"
          matSortDisableClear
          matSortActive="date"
          class="table table-hover table-striped"
        >
          <thead>
            <tr>
              <th mat-sort-header="date">Data</th>
              <th mat-sort-header="amount">Importo</th>
              <th>Da</th>
              <th>A</th>
              <th mat-sort-header="type">Tipo</th>
            </tr>
          </thead>
          <tbody>
            <!-- aggiungere una custom class al tooltip se rimane tempo  -->
            <tr
              *ngFor="let transaction of transactionsDisplayed"
              [routerLink]="['/transazioni', transaction.id]"
              (click)="onChangeTransaction(transaction)"
            >
              <td>
                <i>{{ transaction.date | date: "dd/MM/yyyy" }}</i>
              </td>
              <td>
                <b>€ {{ transaction.amount }}</b>
              </td>
              <td>{{ transaction.accountNumberFrom }}</td>
              <td>{{ transaction.accountNumberTo }}</td>
              <td>
                {{
                  transaction.type === 1
                    ? "bonifico"
                    : transaction.type === 2
                    ? "versamento"
                    : transaction.type === 3
                    ? "prelievo"
                    : transaction.type === 4
                    ? "giroconto"
                    : transaction.type === 5
                    ? "ricarica"
                    : ""
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
