<div class="vertical-center">
  <div class="half">
    <div class="half-col">
      <h3 class="title" *ngIf="cardDisplayed?.accountNumber !== ''">
        Carta n° {{ currentIndex + 1 }}
      </h3>

      <h3 class="title" *ngIf="cardDisplayed?.accountNumber === ''">
        Aggiungi...
      </h3>

      <div class="arrows-container">
        <div class="card-container">
          <div
            [ngClass]="{
              error: cardDisplayed?.status !== 0,
              green: cardDisplayed?.accountNumber === ''
            }"
            class="card panel"
          >
            <div>
              <button
                *ngIf="cardDisplayed?.status"
                class="round-btn red-btn"
                (click)="onRefreshCard()"
              >
                <i class="fa-solid fa-arrow-rotate-right"></i>
              </button>

              <button
                *ngIf="cardDisplayed?.accountNumber === ''"
                class="round-btn green-btn"
                (click)="onAddCard()"
              >
                <i class="fa-solid fa-circle-plus"></i>
              </button>
            </div>
            <span class="add-span" *ngIf="cardDisplayed?.accountNumber === ''"
              ><b>Clicca per aggiungere carte</b></span
            >
            <div *ngIf="cardDisplayed?.accountNumber !== ''">
              <h3>
                <div>
                  <span class="balance"> Saldo: </span>
                  <span *ngIf="balanceDisplay"
                    >€ {{ cardDisplayed?.balance | number: "1.2-2":"it" }}
                    <span class="eye-span"
                      ><i
                        *ngIf="!balanceDisplay"
                        class="eye fa-solid fa-eye"
                        (click)="onSeeBalance()"
                      ></i>
                      <i
                        *ngIf="balanceDisplay"
                        class="eye fa-solid fa-eye-slash"
                        (click)="onSeeBalance()"
                      ></i></span
                  ></span>
                  <span *ngIf="!balanceDisplay"
                    >€ ***,**
                    <span class="eye-span"
                      ><i
                        *ngIf="!balanceDisplay"
                        class="eye fa-solid fa-eye"
                        (click)="onSeeBalance()"
                      ></i>
                      <i
                        *ngIf="balanceDisplay"
                        class="eye fa-solid fa-eye-slash"
                        (click)="onSeeBalance()"
                      ></i></span
                  ></span>
                </div>
              </h3>
            </div>
            <div class="iban-area" *ngIf="cardDisplayed?.accountNumber !== ''">
              <p>
                {{ cardDisplayed?.accountNumber }}
                <button (click)="onCopy()" title="copia iban">
                  <i class="fa-solid fa-clipboard"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="left-arrow" (click)="onPreviousCard()">
          <i class="fa-solid fa-circle-arrow-left"></i>
        </div>
        <div class="right-arrow" (click)="onNextCard()">
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </div>
      <span class="alert" *ngIf="cardDisplayed?.status != 0"
        >Attenzione: carta non ancora attiva!</span
      >
    </div>
  </div>
</div>
