table {
  border-radius: 10px;
  background: rgba(var(--menu-bg-rgb), 0.5);
  background: linear-gradient(
    90deg,
    rgba(var(--menu-bg-rgb), 0.5) 0%,
    rgba(var(--menu-font-hover-rgb), 0.5) 80%,
    rgba(var(--menu-font-hover-rgb), 0.5) 100%
  );
}

.container {
  margin-top: 15px;
}

.text-center {
  font-variant: small-caps;
  width: 100%;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sort-btn {
  border-radius: 5px;
  color: black;
  background-color: transparent;
  border: transparent;
  z-index: 1;
}

.col {
  position: relative;
}

.round-btn {
  height: 40px;
  width: 40px;

  background-color: white;

  position: absolute;
  right: 40px;
  top: -20px;

  z-index: 1;
}

.round-btn:hover,
.round-btn:active {
  background-color: var(--menu-font-color);
}

.round-btn:active {
  height: 35px;
  width: 45px;
  right: 37px;
  top: -18px;
}

/* onde */
.ocean {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: none;

  z-index: -20;
}

.wave {
  background: url("src/assets/img/Wave-16.7s-1587px.svg") no-repeat;
  position: absolute;
  top: 0;
  bottom: -198px;
  width: 100%;
  height: 300px;
  animation: swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

  background-size: cover;

  opacity: 0.5;
}

.wave:nth-of-type(2) {
  background: url("src/assets/img/Wave-16.7s-1587px1.svg");
  bottom: -175px;
  animation: swell 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 1;
  background-size: cover;
}

.wave:nth-of-type(3) {
  background: url("src/assets/img/Wave-16.7s-1587px2.svg");
  bottom: -175px;
  animation: swell 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 0.5;
  background-size: cover;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

@keyframes swell {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-30px) scaleY(0.8);
  }
}
