<app-menu></app-menu>

<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>

<div *ngIf="cardArray.length === 1 && cardArray[0]?.status === 1">
  <div class="backdrop"></div>
  <div class="container-center-row">
    <div class="container-center-col">
      <div class="panel popup">
        <h3>Attendere prego...</h3>
        <span>
          La tua richiesta di registrazione è in attesa di approvazione. <br />
          <br />
          <p>
            Cliccare il tasto refresh per aggiornare la pagina, o logout per
            uscire.
          </p>
        </span>
        <div style="width: 100%; display: flex; justify-content: center">
          <div>
            <button
              class="btn personalized-btn"
              mat-button
              (click)="onRefreshPage()"
            >
              Aggiorna <i class="fa-solid fa-arrow-rotate-right"></i>
            </button>
          </div>
          <div>
            <a routerLink="" (click)="onLogout()">
              <button class="btn personalized-btn" mat-button>
                Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="cardArray.length === 1 && cardArray[0]?.status === 5">
  <div class="backdrop"></div>
  <div class="container-center-row">
    <div class="container-center-col">
      <div class="panel reject">
        <h3 style="width: 100%; text-align: center">Ci dispiace...</h3>
        <span>
          La tua richiesta di registrazione è stata rifiutata. <br />
          <br />
          <p>Cliccare il tasto Logout per uscire.</p>
        </span>
        <div style="width: 100%; display: flex; justify-content: center">
          <div>
            <a routerLink="" (click)="onLogout()">
              <button class="btn personalized-btn" mat-button>
                Logout <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 50px">
  <div class="row d-flex text-center">
    <h1>Transazioni della carta {{ card?.accountNumber }}</h1>
  </div>

  <div class="center">
    <router-outlet></router-outlet>
  </div>

  <div class="container">
    <div>
      <h5>Filtra:</h5>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div>
        <div ngbDropdown class="d-inline-block">
          <div>
            <button
              type="button"
              mat-button
              class="blu-btn"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Per Data
            </button>
          </div>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div>
              <!-- *ngIf="showCalendar" -->
              <ngb-datepicker
                #d="ngbDatepicker"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="hidden"
                [minDate]="{ year: 2022, month: 1, day: 1 }"
                [maxDate]="{ year: 2022, month: 12, day: 31 }"
              >
              </ngb-datepicker
              ><ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
              <div style="display: flex; justify-content: space-between">
                <p class="date-picker">
                  From:
                  {{
                    fromDate != null
                      ? (getDate(fromDate) | date: "dd/MM/yyyy")
                      : ""
                  }}
                </p>
                <p class="date-picker">
                  To:
                  {{
                    toDate != null ? (getDate(toDate) | date: "dd/MM/yyyy") : ""
                  }}
                </p>
              </div>
            </div>
            <div class="filter">
              <button mat-button class="blu-btn" (click)="filter('date')">
                Filtra
              </button>
            </div>
          </div>

          <!-- <button class="btn btn-success" (click)="onShow()"> Apri Calendario </button> -->
        </div>

        <div ngbDropdown class="d-inline-block">
          <!-- ricerca array causale -->
          <div>
            <button
              type="button"
              mat-button
              class="blu-btn"
              id="dropdownBasic2"
              ngbDropdownToggle
            >
              Per Causale
            </button>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <div class="input-field">
              <input type="text" [(ngModel)]="causeValue" /><i
                class="fa-solid fa-circle-xmark"
                (click)="onCancelSearch()"
              ></i>
            </div>
            <div class="filter">
              <button mat-button class="blu-btn" (click)="filter('cause')">
                Filtra
              </button>
            </div>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <!-- ricerca array iban (sia destinatario che mittente) -->
          <div>
            <button
              type="button"
              mat-button
              class="blu-btn"
              id="dropdownBasic3"
              ngbDropdownToggle
            >
              Per Iban
            </button>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <div class="input-field">
              <input type="text" [(ngModel)]="ibanValue" /><i
                class="fa-solid fa-circle-xmark"
                (click)="onCancelSearch()"
              ></i>
            </div>
            <div class="filter">
              <button mat-button class="blu-btn" (click)="filter('iban')">
                Filtra
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button mat-button class="blu-btn" (click)="showAll()">
          Mostra tutte
        </button>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <a [href]="downloadFileUrl" download="Lista operazioni">
            <button
              class="round-btn"
              title="scarica le transazioni di tutte le tue carte"
            >
              <i class="fa-solid fa-cloud-arrow-down"></i>
            </button>
          </a>
          <table
            matSort
            (matSortChange)="sortData($event)"
            matSortDisableClear
            matSortActive="date"
            class="table table-hover table-striped"
            style="width: 100%;"
          >
            <thead>
              <tr>
                <th mat-sort-header="date">Data</th>
                <th mat-sort-header="amount" >Importo</th>
                <th>Da</th>
                <th>A</th>
                <th mat-sort-header="type">Tipo</th>
              </tr>
            </thead>
            <tbody>
              <!-- aggiungere una custom class al tooltip se rimane tempo  -->
              <tr
                *ngFor="let transaction of transactionsDisplayed"
                [routerLink]="['/transazioni', transaction.id]"
                (click)="onChangeTransaction(transaction)"
              >
                <td>
                  <i>{{ transaction.date | date: "dd/MM/yyyy" }}</i>
                </td>
                <td >
                  <div class="right">
                    <b>€{{ transaction.amount | number: "1.2-2":"it" }}</b>
                  </div>

                </td>
                <td>{{ transaction.accountNumberFrom }}</td>
                <td>{{ transaction.accountNumberTo }}</td>
                <td>
                  {{
                    transaction.type === 1
                      ? "bonifico"
                      : transaction.type === 2
                      ? "versamento"
                      : transaction.type === 3
                      ? "prelievo"
                      : transaction.type === 4
                      ? "giroconto"
                      : transaction.type === 5
                      ? "ricarica"
                      : ""
                  }}
                </td>
              </tr>
            </tbody>
          </table>
          <h4 class="no-trans" *ngIf="transactionsDisplayed.length === 0">
            Nessuna transazione da visualizzare.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
