<app-menu></app-menu>

<div *ngIf="cardArray.length === 1 && cardArray[0]?.status !== 0">
  <div class="backdrop"></div>
  <div class="container-center-row">
    <div class="container-center-col">
      <div class="panel popup">
        <h3>Attendere prego...</h3>
        <p>
          La tua richiesta di registrazione è in attesa di approvazione. <br />
          <br />
          <span>Cliccare il tasto refresh per aggiornare la pagina.</span>
        </p>
        <div>
          <button class="round-btn" (click)="onRefreshPage()">
            <i class="fa-solid fa-arrow-rotate-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="title">
  Welcome, <b>{{ activeUser }}</b
  >.
</h1>

<div class="dashboard-area">
  <div class="dashboard-panels">
    <app-account-card class="left"></app-account-card>
    <app-graphic-area class="right"></app-graphic-area>
    <app-actions class="left"></app-actions>
    <app-transactions class="right"></app-transactions>
  </div>
  <app-footer></app-footer>
</div>
