.title {
  text-transform: capitalize;
}

@media screen and (min-width: 900px) {
  .dashboard-panels {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    /* indentato, ma non allineato con card */
    /* margin-left: 23%; */

    /* indentato e allineato con card */
    margin-left: calc(22.5vw - 150px);
  }
}

@media screen and (max-width: 900px) {
  .title {
    width: 100%;
    text-align: center;
  }
}

.dashboard-area {
  overflow-y: hidden;
}

@media screen and (max-width: 900px) {
  .dashboard-area {
    overflow-x: hidden;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  background-color: rgba(var(--menu-bg-rgb), 0.5);

  z-index: 5;
}

.container-center-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-center-col {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup {
  position: fixed;

  width: 340px;

  background-color: var(--menu-font-color);
  z-index: 7;

  align-self: center;
}

.popup h3 {
  background: -webkit-linear-gradient(
    45deg,
    var(--menu-bg-color) 0%,
    var(--menu-font-color-hover) 70%,
    var(--menu-font-color-hover) 100%
  );
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup p span {
  font-size: small;
}

a {
  color: var(--menu-bg-color);
}

a:hover {
  color: var(--menu-font-color-hover);
}

/* onde */
.ocean {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: none;

  z-index: -20;
}

.wave {
  background: url("src/assets/img/Wave-16.7s-1587px.svg") no-repeat;
  position: absolute;
  top: 0;
  bottom: -198px;
  width: 100%;
  height: 300px;
  animation: swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

  background-size: cover;
}

.wave:nth-of-type(2) {
  background: url("src/assets/img/Wave-16.7s-1587px1.svg");
  bottom: -175px;
  animation: swell 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 1;
  background-size: cover;
}

.wave:nth-of-type(3) {
  background: url("src/assets/img/Wave-16.7s-1587px2.svg");
  bottom: -175px;
  animation: swell 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 0.5;
  background-size: cover;
}

@keyframes swell {
  0%,
  100% {
    transform: translateY(-10px) scaleY(1);
  }
  50% {
    transform: translateY(-20px) scaleY(0.8);
  }
}
