* {
  overflow: hidden;
}

select {
  appearance: auto;
}

.backdrop {
  background-color: var(--menu-bg-color);
  opacity: 0.5;

  position: fixed;

  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2;
}

.container-center-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-center-col {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup {
  position: fixed;

  width: 340px;

  background-color: var(--popup-color);
  z-index: 3;

  align-self: center;
}

.fa-circle-xmark {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;

  cursor: pointer;
}

input,
textarea,
select {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

input.ng-touched,
input:active {
  background: rgba(255, 255, 255, 0.5);
}

label {
  width: 100%;
  text-align: center;
}

.blu-btn {
  color: var(--menu-bg-color);
}

h1 {
  text-transform: capitalize;

  color: black;
  width: 100%;
  text-align: center;
}

label {
  font-weight: bold;
}

.personalized-btn {
  margin: 0 5px 0 5px;
  font-size: 20px;

  background: rgba(var(--menu-font-hover-rgb), 0.05);
}

.personalized-btn:active {
  background-color: var(--menu-bg-color);
  color: var(--menu-font-color);
}

span {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid #3688ec;
}
