<div class="backdrop" (click)="closeEvent()"></div>
<div class="container-center-row">
  <div class="container-center-col">
    <div class="panel popup">
      <h1>{{ action }}</h1>

      <!-- Pannello errore transazione -->
      <div class="alert alert-danger" *ngIf="showError">
        <p style="text-align: center">{{ errorMessage }}</p>
      </div>
      <!-- Fine Pannello errore -->

      <div
        class="form-group"
        *ngIf="action === 'versamento' || action === 'prelievo'"
      >
        <form [formGroup]="form3" (ngSubmit)="onSubmit()">
          <label for="amount">Importo (€)</label>
          <input
            type="number"
            id="amount"
            formControlName="amount"
            class="form-control"
            appTwoDigitDecimal
          />
          <span
            class="help-block"
            *ngIf="!form3.get('amount')?.valid && form3.get('amount')?.touched"
          >
            This field is invalid!
          </span>
          <br />
          <div style="width: 100%; display: flex; justify-content: center">
            <button
              mat-button
              type="button"
              class="blu-btn"
              (click)="closeEvent()"
            >
              Annulla
            </button>
            <button
              mat-button
              class="blu-btn"
              [disabled]="!form3.valid"
              type="submit"
            >
              Conferma
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
