.backdrop {
  background-color: var(--menu-bg-color);
  opacity: 0.5;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
}

.popup {
  position: absolute;

  width: 270px;
  height: 172px;

  background-color: var(--menu-font-color);
  z-index: 3;

  /* align-self: center; */
}

.col-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .popup {
    width: 40vw;
    height: 30vh;
  }
}
