<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col col-md-auto title-div">
      <i class="fa-solid fa-circle-user fa-3x"></i>
    </div>
    <div class="col col-md-auto">
      <br />
      <h1>I tuoi dati</h1>
    </div>
  </div>
  <hr />
  <div class="data-container">
    <div class="name">
      <div class="field-container">
        <h5>Nome</h5>
        <h5 class="field">{{ name }}</h5>
      </div>
      <div>
        <h5>Cognome</h5>
        <h5 class="field">{{ surname }}</h5>
      </div>
    </div>
    <div class="birth">
      <div class="field-container">
        <h5>Data di nascita</h5>
        <h5 class="field">{{ birthDate!.slice(0, 10) }}</h5>
      </div>
    </div>
    <div class="email-container">
      <div class="field-container">
        <h5>Email</h5>
        <h5 class="field email">{{ email }}</h5>
      </div>
    </div>
  </div>
</div>
