div.container {
  margin-top: 20vh;
}

i.fa-circle-user {
  font-size: 100px;
  color: #3688ec;
}
h5.field {
  font-variant: normal;

  text-align: center;
}

h5.field:not(.email) {
  text-transform: capitalize;
}

h5:not(.field) {
  color: #78d2d2;
}

i.fa-circle {
  size: 200px;
  font-size: 200px;
}

h5 {
  text-align: center;

  margin-left: 20px;
  margin-right: 20px;
}

h1,
h5 {
  font-variant: small-caps;
}

.title-div {
  display: flex;
  justify-content: space-between;

  background: -webkit-linear-gradient(
    45deg,
    var(--menu-font-color-hover) 0%,
    var(--menu-bg-color) 70%,
    var(--menu-bg-color) 100%
  );
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name,
.birth,
.email-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.data-container {
  background-color: rgba(var(--home-bg-rgb), 0.5);
  border-radius: 15px;
  border: 1px solid #78d2d2;
  padding: 30px;
}

/* onde */
.ocean {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  overflow: none;

  z-index: -20;
}

.wave {
  background: url("src/assets/img/Wave-16.7s-1587px.svg") no-repeat;
  position: absolute;
  top: 0;
  bottom: -198px;
  width: 100%;
  height: 300px;
  animation: swell 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;

  background-size: cover;

  opacity: 0.5;
}

.wave:nth-of-type(2) {
  background: url("src/assets/img/Wave-16.7s-1587px1.svg");
  bottom: -175px;
  animation: swell 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 1;
  background-size: cover;
}

.wave:nth-of-type(3) {
  background: url("src/assets/img/Wave-16.7s-1587px2.svg");
  bottom: -175px;
  animation: swell 9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  /* swell 7s ease -1.25s infinite; */
  opacity: 0.5;
  background-size: cover;
}

@keyframes swell {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-30px) scaleY(0.8);
  }
}

/* popup */

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  background-color: rgba(var(--menu-bg-rgb), 0.5);

  z-index: 5;
}

.container-center-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container-center-col {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup {
  position: fixed;

  width: 340px;

  background-color: var(--popup-color);
  z-index: 7;

  align-self: center;
}

.reject {
  position: fixed;

  width: 340px;

  background-color: #e2a6a9; /*rgb(255, 94, 94);*/
  z-index: 7;

  align-self: center;
}
