
<div class="container">
    <div class="row ">
        <div class="col col-md-auto">
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
        <div class="col col-md-auto">
            <h1>I tuoi dati</h1>
        </div>  
       
    </div>
    <hr>
    <div class="row">
        <div class="col col-md-auto">
            <h5>Nome</h5>
            <h6>{{name}}</h6>
        </div>
        <div class="col col-md-auto">
            <h5>Cognome</h5>
            <h6>{{surname}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-auto">
            <h5>Data di nascita</h5>
            <h6>{{birthDate}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-auto">
            <h5>Email</h5>
            <h6>{{email}}</h6>
        </div>
    </div>
</div>